{% extends "contenido/encabezado.html" %}

{%block title%} Registrar {%endblock%}

{%block contenido%}
<h3>Contacto</h3>
    <p>Nombre:<input type="text" name="nombre"></p>
    <p>Correo:<input type="text" name="Correo"></p>
    <p>Curso:
        <select name="curso">
            <option>Base de datos</option>
            <option>Programacion</option>
            <option>Matematicas</option>
        </select>
    </p>
    <p>Comentarios:</p><p> <textarea cols="50" rows="10"></textarea></p>
    <p><input type="Button" name="Enviar" value="Enviar"/></p>

{%endblock%}